@page
@model Mafia_Razor_Pages.Pages.Checkout.CheckoutModel
@{
}

<h1>Welcome to the Checkout page!</h1>

<h2>User with the name: @Model.registeredPlayer.Name registered successfully!</h2>
<a class="btn btn-primary mt-1" asp-area="" asp-page="/Index">Main Page</a>
<a class="btn btn-primary mt-1" asp-area="" asp-page="/Forms/RegisterUser">Register User</a>