@page
@model Mafia_Razor_Pages.Pages.GameModel
@{
}


<div class="game-container">
    <div class="foul-container">
        <h1>CHAMA</h1>
    </div>

    <div class="record-container">
        <h1>CHAMA SEMPRE!</h1>
    </div>

    <div class="player-container">
        <h1>CHAMA</h1>
    </div>

</div>
