@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-container">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to mafia</h1>
        <h2 class="mainSubTitle">Razor Mafia, Developed by the One And Only, El Kumi ladies and gents!</h2>
    </div>
    <div class="main-image-container">
        <picture>
            <source srcset="~/images/mafia.jpg" media="(max-width: 1199px)">
            <img class="main-image" src="~/images/mafia4.jpg" alt="Mafia Image">
        </picture>
    </div>
    </br>
    <div class="main-container-links">
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Forms/RegisterUser">Register User</a>
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Forms/CharacterInput">Define Characters</a>
    </div>
</div>