@page 
@model Mafia_Razor_Pages.Pages.SelectionModel
@{
}


<div class="selection-container">
    <div class="character-left-section">

        <h1>CHAMA!</h1>
    </div>

    <div class="character-right-section">
        <h1>Nao CHAMA!</h1>

        @if(Model.MyCharacters != null)
        {
            <ul>
                @foreach (var character in Model.MyCharacters)
                {
                    <li>@character</li>
                }
            </ul>
        }
    </div>

</div>

