html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #3C3D37;
    /*color: white;*/
}

.main-image {
    height: 60vh;
    border-radius: 20px;
    filter: drop-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.3));
    margin: 40px;
    transition: filter 0.5s ease;
}

    .main-image:hover {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3)) brightness(0.5); /* Darkens the image */
    }

.text-danger {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}

.character-container {
    display: flex;
    width: 100%;
    flex-direction: row; /* Stack sections vertically */
    height: 80vh; /* Full height of the viewport */
}

.character-left-section,
.character-right-section {
    flex: 1; /* Each section takes up equal vertical space */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto; /* Add scroll if content overflows */
}

.character-left-section {
    /* Optional: Add specific styles for the top section */
}

.character-right-section {
    /* Optional: Add specific styles for the bottom section */
}
