@page
@model Mafia_Razor_Pages.Pages.Characters.CitizenModel
@{
}

<div class="container">
    <h1>Citizen</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">The Civilians, Plain Citizens, the Innocents (the red team). 
            They are the majority, but they don't know who is who. 
            The Innocents don't wake up at night, they only take part in the daytime discussions as they try to oust the mobsters
        </p>
        <br />
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>