@page
@model Mafia_Razor_Pages.Pages.Characters.DetectiveModel
@{
}
<div class="container">
    <h1>Detective</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            A Detective is an investigative role that determines whether a player has killed another player,
            either on the night it is used or on a previous night.
        </p>
        <br />
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>