@page
@model Mafia_Razor_Pages.Pages.Characters.DoctorModel
@{
}
<div class="container">
    <h1 class="text-white">Doctor</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0 text-white">
            The Doctor is a civilian role that, at each nighttime phase, 
            can save a player he or she thinks the mafia has killed. 
            As mentioned earlier, if the doctor saves the right player, 
            that player is brought back into the game. The doctor cannot save themselves.
        </p>
        <br />
        <footer class="blockquote-footer text-white">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>