@page
@model Mafia_Razor_Pages.Pages.Characters.DonModel
@{
}
<div class="container">
    <h1>Don</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            In Mafia. …was a “boss,” or “don,” whose authority could be challenged only by the commission. 
            Each don had an underboss, who functioned as a vice president or deputy director, 
            and a consigliere, or counselor, who had considerable power and influence.
        </p>
        <br />
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>