@page
@model Mafia_Razor_Pages.Pages.Characters.KillerModel
@{
}
<div class="container">
    <h1 class="text-white">Serial Killer</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0 text-white">
            A Serial Killer is individually aligned and their goal is to be the last remaining player in the game. 
            They can perform one – usually mandatory – kill per night by sending the name of the player they wish to kill to the moderator. 
            If they neglect to do so, they kill a random player if their kill is mandatory.
        </p>
        <br />
        <footer class="blockquote-footer text-white">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>