@page
@model Mafia_Razor_Pages.Pages.Characters.MafiaModel
@{
}
<div class="container">
    <h1>Mafia</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            the Mafia's role is to eliminate other players (villagers) without revealing their identity.
            During the night phase, the Mafia secretly chooses one player to "eliminate," and during the day phase,
            they blend in with the villagers, trying to avoid suspicion while participating in discussions and voting.
            Their ultimate goal is to outnumber the villagers and take control of the game.
        </p>
        <br />
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>